@page "/"
@using Client.PeselLogic
<PageTitle>Obywatel</PageTitle>
<h1>Formularz rejestracji</h1>
<RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Wyślij"></RadzenButton>

@code {
    protected override void OnInitialized()
    {
        var citizen = new Citizen() { DateOfBirth = new DateTime(2000, 1, 3), Sex="female" };
        citizen.GetPESEL(234);
        var test = citizen.PESEL;
    }
}